# This file contains parameter used by Proline Zero
# Some of these parameters may be modified accordingly to your computer configuration.
# Other should not or only by expert users.

# Enable Proline-Zero configuration dialog. A helpfull G.U.I to avoid manual configuration through this file !! 
hide_config_dialog = off

# [Modules]
## Specify which modules to be activated (on/off)
sequence_repository_active = on
proline_studio_active = on

# [Memory]
## Specify amount of memory to user. WARNING: If total memory is <= 4G, a default memory allocation will be used !!

## allocation_mode = memory allocation mode for proline zero components. There are currently three modes of allocation for the memory
### automatic (auto) lets the user decide on the total memory available and allocates the memory to all the components
### semi Automatic (semi) lets the user decide on how much memory to allocate to the studio and server components.
### manual (manual) lets the user set the memory allocation for each components: proline studio, the sequence repository, the datastore, the JMS and proline server components
allocation_mode = manual

### In auto mode only. 
### "total_memory" to be shared between all 'components' (datastore server, Proline Studio, Proline Cortex...)
total_max_memory = 6G

### In semi or manual mode only
### "studio_memory" allocated to Proline-Studio
studio_memory = 1G

### In semi mode only
### "server_memory" to be shared between all 'server components'
server_total_memory = 4G

### In manual mode only.
### specify amount of memory for each component
seqrep_memory = 900M
datastore_memory = 400M
proline_cortex_memory = 100M
JMS_memory = 500M


# [Server]
## EXPERT ONLY parameters
## timeout before to consider a server component is not responding
server_default_timeout = 120
## /!\ number of process running at the same time... depends on computer configuration /!\
service_thread_pool_size = 1
## size for temp folder before clean will be proposed. value is in Mo bytes, can comment (use #) to disable it
max_tmp_folder_size = 1000
## Java used for Proline Zero : By default, embedded Java is used
#java_home = ./ProlineStudio-2.1.2/jre

# [datastore]
## EXPERT ONLY parameters
## Don't check if update needed but run update anyway. 
force_datastore_update = off
## datastore port. postgresql default port = 5433, H2 default port = 9092
## only BEFORE the first launch of ProlineZero 
data_store_port = 5433

# [JMS Server port]
## EXPERT ONLY parameters
### you can define or not the next 4 ports, only BEFORE the first launch of ProlineZero ==> VDS a vérifier ?!
### NOTE: this is useful if you need to run two Proline-zero at the same time. You must change these 4 ports on one of the Proline-Zero instances
### default jms_server_port = 5445, jms_server_batch_port=5455, jnp_port=1099, jnp_rmi_port=1098 ( MAX_JMS_SERVER_PORT = 65535 JNP port upper than 1024)
#jms_server_port = 5442
#jms_server_batch_port=5452
#jnp_port=1093
#jnp_rmi_port=1092


#[DO NOT MODIFY]
# [Version]
## component versions. 
cortex_version = 2.1.2
hornetq_version = 2.4.0.Final
seqrepo_version = 2.1.2
studio_version = 2.1.2
admin_version = 2.1.2
# [datastore]
## Which datastore is configured ion this distribution
datastore = postgresql


# Information  EXPERT ONLY 
## Default value for Postgres depending on memory allocated to datastore
### PostgreSQL settings impacted by memory config
### | parameter            | default | opt                | max                |
### | shared_buffers       | 128M    | physical/4         | physical/2         |
### | checkpoint_segments  | 3       | shared_buffers/16M | shared_buffers/8M  |
### | temp_buffers         | 8M      | physical/32        | physical/8         |
### | maintenance_work_mem | 64M     | physical/16        | physical/8         |
### | effective_cache_size | 4G      | physical/2         | physical*3/4       |

