<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <contextName>Proline-Cortex</contextName>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
     <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
    
    <encoder>
      <pattern>%date{dd MMM yyyy - HH:mm:ss.SSS} [%-5level] %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="RollingfileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <append>true</append>
   
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>proline_launcher_log.%d{yyyy-MM-dd}.txt</fileNamePattern>
      <maxHistory>30</maxHistory>
      <totalSizeCap>1GB</totalSizeCap>
    </rollingPolicy>
   
    <encoder>
       TTCCLayout 
      <pattern>%date{dd MMM yyyy HH:mm:ss.SSS} %-5level %logger{36} %mdc - %msg%n</pattern>
    </encoder>

  </appender>
  
  
  <logger name="fr.profi" level="debug"/>
  <logger name="fr.proline" level="debug"/>
  <logger name="ZeroModule" level="debug"/>
  

  <root level="warn">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="RollingfileAppender" />
  </root>

</configuration>
