# [Proline]
datastore = ${proline.datastore}
server_max_memory = 4G
server_default_timeout = 120
#server_mode = on
#debug_mode = on
#disable_sequence_repository = on
# [PostgreSQL, default postgresql_port = 5433. in H2 mode,it will not be used]
postgresql_port = 5433
h2_port = 9092
# [JMS Server = hornetq]
# you can define or non the next 4 ports, only one time before the first launche, but if you need 2 proline-zero on one computer, you must define them at the first launche
# default jms_server_port = 5445, jms_server_batch_port=5455, you can define a port in 4 numbers
#jms_server_port = 5442
#jms_server_batch_port=5452
# default jnp_port=1099, jnp_rmi_port=1098, you can define a port between 1024-5000
#jnp_port=1093
#jnp_rmi_port=1092
#[Cortex_Parallelizable ServiceRunners]
service_thread_pool_size = 1
# [Path]
#java_home = ./ProlineStudio-${studio.version}/jre
# [Version]
cortex_version = ${cortex.version}
hornetq_version = ${hornetq.version}
seqrepo_version = ${seqrepo.version}
studio_version = ${studio.version}
admin_version = ${admin.version}
