# [Proline]
datastore = ${proline.datastore}
server_max_memory = 4G
server_default_timeout = 120
#server_mode = on
#debug_mode = on
#disable_sequence_repository = on
# [PostgreSQL, in H2 mode,it will not be used]
postgresql_port = 5433
# [JMS]
jms_server_port = 5445
#[Cortex_Parallelizable ServiceRunners]
service_thread_pool_size = 1
# [Path]
#java_home = ./ProlineStudio-${studio.version}/jre
# [Version]
cortex_version = ${cortex.version}
hornetq_version = ${hornetq.version}
seqrepo_version = ${seqrepo.version}
studio_version = ${studio.version}
admin_version = ${admin.version}
